<template lang="pug">
  v-card
    v-card-title
      v-row(justify="start")
        v-col(cols="12" sm="6")
          v-text-field(
            v-model="steamid"
            append-icon="mdi-magnify"
            :label="$t('steamid')"
            :rules="steamIdRules"
            single-line
            hide-details
            dense
          )
        v-col(cols="12" md="3")
          v-select(
            v-model="typeFilters"
            :items="banTypes"
            :label="$t('banType')"
            multiple
            clearable
            dense
          )
        v-col(cols="12" sm="auto")
          v-btn-toggle
            v-btn(small @click="loadBans" :loading="loading") {{ $t('applyFilter') }}
    v-data-table(
      :headers="headers"
      :items="bans"
      :loading="loading"
      :footer-props="{ showFirstLastPage: true }"
      multi-sort
      show-expand
      :loading-text="$t('loading')"
    )
      template(v-slot:item.steam_id="{ item }")
        v-btn(:href="'http://steamcommunity.com/profiles/' + item.steamid64" target="_blank" text small color="primary") {{ item.steam_id }}
      template(v-slot:item.expires_on="{ item }")
        v-chip(:color="getExpirationColor(item.expires_on)" dark)
          span {{ formatDate(item.expires_on) }}
      template(v-slot:item.created_on="{ item }")
          span {{ formatDate(item.created_on) }}
      template(v-slot:item.updated_on="{ item }")
          span {{ formatDate(item.updated_on) }}
      template(v-slot:item.ban_type="{ item }")
        | {{ getBanName(item.ban_type) }}

      template(v-slot:item.action="{ item }" v-if="globalAdmin")
        v-btn(text icon @click="selectedBan = item; dialog = true")
          v-icon(small) mdi-pencil

      template(v-slot:expanded-item="{ headers, item }")
        td(:colspan="headers.length")
          v-card(flat)
            v-card-text(v-show="item.notes") {{ item.notes }}
            v-card-text(v-show="item.stats")
              code {{ item.stats }}
            v-card-text(v-show="!item.notes && !item.stats") N/A

      template(v-slot:top)
        v-toolbar(flat)
          v-toolbar-title {{ $t('bans') }}
          div(class="flex-grow-1")
          v-switch(v-model="relativeToggle" :label="$t('relativeDate')" hide-details class="mb-2 pr-5" color="red darken-2")
          v-btn(@click="loadBans" class="mb-2 mr-2") {{ $t('refresh') }}
          v-dialog(v-model="dialog" max-width="500px" persistent)
            template(v-slot:activator="{ on }" v-if="globalAdmin")
              v-btn(color="primary" class="mb-2" v-on="on" @click="selectedBan = null") {{ $t('newBan') }}
            ban-form(v-model="selectedBan" @submit="onFormSubmit" :loading="formLoading" @cancel="dialog = false")
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import SteamID from 'steamid';
import BanForm from '@/components/bans/BanForm.vue';
import Ban from '~/models/Ban';
import { API_HOST } from '@/app.config';

const User = namespace('user');

@Component({
  components: {
    BanForm
  }
})
export default class BanListPage extends Vue {
  @User.Getter('isGlobalAdmin')
  globalAdmin!: boolean;

  steamIdRules = [
    (v: string) => !!v || 'SteamID is required',
    (v: string) => {
      try {
        return new SteamID(v).isValid();
      } catch (err) {
        return 'SteamID is not Valid';
      }
    }
  ];

  get headers () {
    const baseHeaders = [
      { text: 'ID', sortable: true, value: 'id' },
      { text: 'Player', sortable: true, value: 'player_name' },
      { text: 'SteamID', sortable: true, value: 'steam_id' },
      // {
      //   text: 'IP', sortable: true, value: 'ip', admin: true
      // },
      // {
      //   text: 'Server', sortable: true, value: 'server_id', admin: true
      // },
      { text: 'Type', sortable: true, value: 'ban_type' },
      { text: 'Expires', sortable: true, value: 'expires_on' },
      { text: 'Created', sortable: true, value: 'created_on' },
      { text: 'Updated', sortable: true, value: 'updated_on' },
      {
        text: 'Action', sortable: false, value: 'action', admin: true
      }
    ];
    if (this.globalAdmin) { return baseHeaders; }
    return baseHeaders.filter(header => !header.admin);
  }

  banTypes = [
    { value: 'ban_evasion', text: 'Ban Evasion' },
    { value: 'bhop_hack', text: 'Bhop Hack' },
    { value: 'bhop_macro', text: 'Bhop Macro' },
    { value: 'exploiting', text: 'Exploiting' },
    { value: 'strafe_hack', text: 'Strafe Hack' },
    { value: 'strafe_macro', text: 'Strafe Macro' },
    { value: 'other', text: 'Other' }
  ];

  typeFilters: string[] = [];

  bans: Ban[] = [];
  loading: boolean = true;
  dialog: boolean = false;
  relativeToggle: boolean = false;
  steamid: string = '';

  selectedBan: Ban | null = null;

  formLoading: boolean = false;

  head () {
    return {
      title: this.$t('bans')
    };
  }

  mounted () {
    this.loadBans();
  }

  loadBans () {
    this.loading = true;
    const params = new URLSearchParams();
    this.typeFilters.forEach((type) => {
      params.append('ban_types_list', type);
    });
    if (this.steamid) {
      const steamid = new SteamID(this.steamid);
      params.append('steam_id', steamid.getSteam2RenderedID());
    }
    const url = this.globalAdmin ? '/api/v2.0/admin/bans' : '/api/v2.0/bans';
    this.$axios.$get<Ban[]>(API_HOST + url, { params, withCredentials: this.globalAdmin })
      .then((bans) => {
        this.bans = bans;
      })
      .catch((err) => {
        this.$toast.error(this.$t('banLoadError').toString());
        console.log(err);
      })
      .finally(() => {
        this.loading = false;
      });
  }

  onFormSubmit (ban: Ban, update: boolean) {
    if (this.formLoading) return;
    this.formLoading = true;
    if (update) {
      this.$axios.$put(`${API_HOST}/api/v2.0/admin/bans/${ban.id}`, ban, { withCredentials: true })
        .then((res) => {
          this.dialog = false;
          this.$toast.info(this.$t('updateBanSuccess', { steamid: ban.steam_id }).toString());
          console.log(res);
          this.loadBans();
        })
        .catch((err) => {
          this.$toast.error(this.$t('updateBanFail', { steamid: ban.steam_id }).toString());
          console.log(err);
        })
        .finally(() => {
          this.formLoading = false;
        });
    } else {
      this.$axios.$post(`${API_HOST}/api/v2.0/admin/bans`, ban, { withCredentials: true })
        .then((res) => {
          this.dialog = false;
          this.$toast.info(this.$t('addBanFail', { steamid: ban.steam_id }).toString());
          this.loadBans();
        })
        .catch((err) => {
          this.$toast.error(this.$t('addBanFail', { steamid: ban.steam_id }).toString());
          console.log(err);
        })
        .finally(() => {
          this.formLoading = false;
        });
    }
    console.log(`ive been activated ${ban} - updated? ${update}`);
  }

  formatDate (dateStr: string) {
    const date = this.$dateFns.parseISO(dateStr);
    if (this.relativeToggle) {
      return this.$dateFns.formatRelative(date, new Date());
    }
    return this.$dateFns.format(date, 'MMM do yyyy, HH:mm:ss');
  }

  getExpirationColor (expiresOnStr: string) {
    const expiresOn = this.$dateFns.parseISO(expiresOnStr);
    if (this.$dateFns.isPast(expiresOn)) {
      return 'green';
    }
    if (this.$dateFns.isBefore(expiresOn, this.$dateFns.addMonths(new Date(), 1))) {
      return 'orange';
    }
    return 'red';
  }

  getBanName (banType: string) {
    const type = this.banTypes.find(t => t.value === banType);
    if (type) {
      return type.text;
    }
    return banType;

  }
}
</script>
