<template lang="pug">
  v-card
    v-card-title {{ $t('newServerApplication') }}
    v-card-text
      v-form(ref="serverForm")
        v-container
          v-row
            v-col(cols="12")
              p Be sure to have an forum application according to  
                a(href="https://forum.gokz.org/p/guide-whitelist" target="_blank") https://forum.gokz.org/p/guide-whitelist
            v-col(cols="12")
              v-text-field(v-model="name" :label="$t('serverName')" :rules="nameRules")
            v-col(cols="12" md="8")
              v-text-field(v-model="ip" :label="$t('ip')" :rules="ipRules")
            v-col(cols="12" md="4")
              v-text-field(v-model="port" :label="$t('port')" :rules="portRules")
          v-row
            v-col(cols="12")
              v-checkbox(v-model="isLAN" :label="$t('lan')" :rules="lanRules")
          v-row
            v-progress-linear(indeterminate color="cyan" v-show="loading")
    v-card-actions
      v-btn(color="grey" text @click="serverForm.reset(); $emit('cancel')") {{ $t('close') }}
      v-btn(color="grey darken-1" :disabled="loading" text @click="serverForm.reset()") {{ $t('reset') }}
      div(class="flex-grow-1")
      v-btn(color="blue" text @click="submitForm" :disabled="isLAN || loading") {{ $t('apply') }}
</template>

<script lang="ts">
import {
  Vue, Component, Ref, Prop
} from 'nuxt-property-decorator';
import Server from '@/models/Server';

const INTEGER_PATTERN = /^\d+$/;
// https://www.oreilly.com/library/view/regular-expressions-cookbook/9780596802837/ch07s16.html
const IPV4_PATTERN = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;

type Rule = ((_: string) => boolean | string);

@Component
export default class NewServerForm extends Vue {
  @Ref()
  serverForm!: any;

  @Prop(Boolean)
  loading!: boolean;

  name: string = '';
  ip: string = '';
  port: string = '';
  isLAN: boolean = false;

  nameRules: Rule[] = [(v: string) => !!v || 'Name is required'];
  ipRules = [
    (v: string) => !!v || 'IP is required',
    (v: string) => IPV4_PATTERN.test(v) || 'IP is not valid'
  ];

  portRules = [
    (v: string) => !!v || 'Port is required',
    (v: string) => INTEGER_PATTERN.test(v || '') || 'Port must be an integer',
    (v: string) => (Number(v) >= 1 && Number(v) <= 65535) || 'Port must be between 1-65535'
  ];

  lanRules = [
    (v: boolean) => !v || 'LAN servers are currently not allowed'
  ];

  submitForm () {
    if (!this.serverForm.validate()) { return; }
    this.$emit('submit', {
      name: this.name,
      ip: this.ip,
      port: Number(this.port)
    } as Server);
  }
}
</script>
