<template lang="pug">
  v-card
    v-card-title {{ $t('editMap') }}
    v-card-text
      v-form(ref="mapForm")
        v-container
          v-row
            v-col(cols="12" md="6")
              v-text-field(v-model="name" :label="$t('mapName')" :rules="nameRules")
            v-col(cols="12" md="3")
              v-text-field(v-model="filesize" :label="$t('filesize')" :rules="filesizeRules")
            v-col(cols="12" md="3")
              v-switch(v-model="validated" :label="$t('validated')" color="primary")
            v-col(cols="12")
              div {{ $t('difficulty') }}
              v-slider(v-model="difficulty" min="1" max="7" thumb-label="always" ticks="always" tick-size="8")
            v-col(cols="12")
              v-text-field(v-model="workshop_url" label="Workshop URL")
            v-col(cols="12")
              v-text-field(v-model="download_url" label="Download URL")
          v-row
            v-progress-linear(indeterminate color="cyan" v-show="loading")
    v-card-actions
      v-btn(color="grey" text @click="$emit('cancel')") {{ $t('close') }}
      v-btn(color="grey darken-2" :disabled="loading" text @click="resetForm") {{ $t('reset') }}
      div(class="flex-grow-1")
      v-btn(color="blue" text @click="submitForm" :disabled="!isChanged") {{ $t('update') }}
</template>

<script lang="ts">
import {
  Vue, Component, Ref, Prop, PropSync, Watch
} from 'nuxt-property-decorator';
import equal from 'fast-deep-equal';
import Map from '@/models/Map';

const INTEGER_PATTERN = /^\d+$/;
type Rule = ((_: string) => boolean | string);

@Component
export default class EditMapForm extends Vue {
  @Ref()
  mapForm: any;

  @PropSync('value')
  map: Map | undefined;

  name: string = '';
  filesize: string = '';
  validated: boolean = true;
  difficulty: number = 3;
  workshop_url: string = '';
  download_url: string = '';

  nameRules: Rule[] = [
    (v: string) => !!v || 'Name is required',
    (v: string) => !(v || '').includes(' ') || 'No space allowed'
  ];

  filesizeRules: Rule[] = [
    (v: string) => !!v || 'Filesize is required',
    (v: string) => INTEGER_PATTERN.test(v || '') || 'File size must be an integer',
    (v: string) => parseInt(v || '', 10) > 0 || 'File size must be larger than 0'
  ];

  @Prop(Boolean)
  loading: boolean = false;

  mounted () {
    this.resetForm();
  }

  createMapFromForm () {
    return {
      ...this.map,
      name: this.name,
      filesize: Number(this.filesize),
      validated: this.validated,
      difficulty: this.difficulty,
      workshop_url: this.workshop_url,
      download_url: this.download_url
    } as Map;
  }

  submitForm () {
    if (!this.mapForm.validate()) { return; }
    this.$emit('submit', this.createMapFromForm());
  }

  resetForm () {
    if (!this.map) { return; }
    this.name = this.map.name;
    this.filesize = this.map.filesize.toString();
    this.validated = this.map.validated;
    this.difficulty = this.map.difficulty;
    this.workshop_url = this.map.workshop_url;
    this.download_url = this.map.download_url;
  }

  get isChanged () {
    return !equal(this.map, this.createMapFromForm());
  }
}
</script>
