<template lang="pug">
  v-card
    v-card-title {{ $t('newMap') }}
    v-card-text
      v-form(ref="mapForm")
        v-container
          v-row
            v-col(cols="12" md="6")
              v-text-field(v-model="name" :label="$t('mapName')" :rules="nameRules")
            v-col(cols="12" md="3")
              v-text-field(v-model="filesize" :label="$t('filesize')" :rules="filesizeRules")
            v-col(cols="12" md="3")
              v-switch(v-model="validated" :label="$t('validated')" color="primary")
            v-col(cols="12")
              div {{ $t('difficulty') }}
              v-slider(v-model="difficulty" min="1" max="7" thumb-label="always" ticks="always" tick-size="8")
            v-col(cols="12")
              h2 Main Course Record Filter
              v-row
                v-col(cols="auto")
                  h3 {{ $t('tickrates') }}
                  v-btn-toggle(v-model="selectedTicks" mandatory multiple)
                    v-btn(
                      v-for="tick in tickrates"
                      :key="tick.value"
                      :value="tick.value"
                      :disabled="tick.disabled"
                      color="green"
                      small
                    ) {{ tick.text }}
                v-col(cols="auto")
                  h3 {{ $t('modes') }}
                  v-btn-toggle(v-model="selectedModes" mandatory multiple)
                    v-btn(
                      v-for="mode in modes"
                      :key="mode.value"
                      :value="mode.value"
                      :disabled="mode.disabled"
                      color="blue"
                      small
                    ) {{ mode.text }}
                v-col(cols="auto")
                  h3 {{ $t('runTypes') }}
                  v-btn-toggle(v-model="selectedRunTypes" mandatory multiple)
                    v-btn(
                      v-for="runType in runTypes"
                      :key="runType.value"
                      :value="runType.value"
                      :disabled="runType.disabled"
                      color="red"
                      small
                    ) {{ runType.text }}
            v-col(cols="12")
              v-text-field(v-model="workshop_url" label="Workshop URL")
            v-col(cols="12")
              v-text-field(v-model="download_url" label="Download URL")
          v-row
            v-progress-linear(indeterminate color="cyan" v-show="loading")
    v-card-actions
      v-btn(color="grey" text @click="resetForm(); $emit('cancel')") {{ $t('close') }}
      v-btn(color="grey darken-2" :disabled="loading" text @click="resetForm") {{ $t('reset') }}
      div(class="flex-grow-1")
      v-btn(color="blue" text @click="submitForm") {{ $t('add') }}
</template>

<script lang="ts">
import {
  Vue, Component, Ref, Prop, Watch
} from 'nuxt-property-decorator';
import equal from 'fast-deep-equal';
import Map from '@/models/Map';

const INTEGER_PATTERN = /^\d+$/;
type Rule = ((_: string) => boolean | string);

@Component
export default class NewMapForm extends Vue {
  @Ref()
  mapForm!: any;

  name: string = '';
  filesize: string = '';
  validated: boolean = true;
  difficulty: number = 3;
  workshop_url: string = '';
  download_url: string = '';

  nameRules: Rule[] = [
    (v: string) => !!v || 'Name is required',
    (v: string) => !(v || '').includes(' ') || 'No space allowed'
  ];

  filesizeRules: Rule[] = [
    (v: string) => !!v || 'Filesize is required',
    (v: string) => INTEGER_PATTERN.test(v || '') || 'File size must be an integer',
    (v: string) => parseInt(v || '', 10) > 0 || 'File size must be larger than 0'
  ];

  tickrates = [
    { text: '128 Tick', value: 128 },
    { text: '102 Tick', value: 102, disabled: true },
    { text: '64 Tick', value: 64, disabled: true }
  ];

  selectedTicks: number[] = [128];

  modes = [
    { text: 'KZTimer', value: 200 },
    { text: 'SimpleKZ', value: 201 },
    { text: 'Vanilla', value: 202 }
  ];

  selectedModes: number[] = [200, 201, 202];

  runTypes = [
    { text: 'NUB', value: true },
    { text: 'PRO', value: false }
  ];

  selectedRunTypes: boolean[] = [true, false];

  @Prop(Boolean)
  loading: boolean = false;

  mounted () {
    this.resetForm();
  }

  createMapFromForm () {
    return {
      name: this.name,
      filesize: Number(this.filesize),
      validated: this.validated,
      difficulty: this.difficulty,
      workshop_url: this.workshop_url,
      download_url: this.download_url
    } as Map;
  }

  submitForm () {
    if (!this.mapForm.validate()) { return; }
    this.$emit('submit', this.createMapFromForm(), this.selectedTicks, this.selectedModes, this.selectedRunTypes);
    this.resetForm();
  }

  resetForm () {
    this.name = '';
    this.filesize = '';
    this.validated = true;
    this.difficulty = 3;
    this.workshop_url = '';
    this.download_url = '';
  }
}
</script>
