<template lang="pug">
  v-card
    v-card-title
      v-row(justify="start")
        v-col(cols="12" sm="auto")
          v-autocomplete(
            v-model="selectedMap"
            :items="mapList"
            :disabled="loading"
            :label="$t('selectMap')"
            dense
            clearable
          )
        v-col(cols="12" sm="auto")
          v-btn-toggle(v-model="selectedModes" color="purple" mandatory multiple)
            v-btn(value="kz_timer" small :disabled="loading") KZTimer
            v-btn(value="kz_simple" small :disabled="loading") SimpleKZ
            v-btn(value="kz_vanilla" small :disabled="loading") Vanilla
        v-col(cols="auto" sm="auto")
          v-btn-toggle(v-model="selectedRuns" color="blue" mandatory multiple)
            v-btn(value="tp" small :disabled="loading") TP
            v-btn(value="pro" small :disabled="loading") PRO
        v-col(cols="auto" sm="auto")
          v-btn-toggle(v-model="selectedTickrate" color="pink" mandatory multiple)
            v-btn(value="128" small :disabled="loading") 128 Tick
        v-col(cols="auto" sm="auto" v-if="stages.length > 0")
          v-select(:items="stages" v-model="selectedStage" label="Stages" dense)

        v-col(cols="12" sm="auto")
          v-btn-toggle
            v-btn(small @click="loadRecords" :loading="loading") {{ $t('applyFilter') }}
    v-data-table(
      :headers="headers"
      :items="records"
      :loading="loading"
      :footer-props="{ showFirstLastPage: true }"
      :loading-text="$t('loading')"
      multi-sort
    )
      template(v-slot:item.player_name="{ item }")
        v-btn(text target="_blank" color="green" :href="`http://steamcommunity.com/profiles/${item.steamid64}`") {{ item.player_name }}

      template(v-slot:item.admin="{ item }")
        v-btn(
          text
          @click="deleteRecord(item)"
        )
          v-icon(color="red") mdi-delete-forever
      template(v-slot:top)
        v-toolbar(flat)
          v-toolbar-title {{ $t('records') }}
          v-spacer
          v-btn(@click="loadRecords" class="mb-2 mr-2") {{ $t('refresh') }}

    v-dialog(v-model="dialog" max-width="500px")
      delete-form(@submit="onConfirmDelete" :loading="formLoading" :record="selectedRecord")
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import DeleteForm from '@/components/records/DeleteForm.vue';
import Record from '@/models/Record';
import Map from '@/models/Map';
import { API_HOST } from '@/app.config';
import RecordFilter from '~/models/RecordFilter';

const User = namespace('user');

@Component({
  components: {
    DeleteForm
  }
})
export default class RecordsPage extends Vue {
  @User.Getter('isGlobalAdmin')
  globalAdmin!: boolean;

  get headers() {
    const baseHeaders = [
      { text: 'ID', sortable: true, value: 'id' },
      { text: 'Player', sortable: true, value: 'player_name' },
      { text: 'Map', sortable: true, value: 'map_name' },
      { text: 'Time', sortable: true, value: 'time' },
      { text: 'Teleports', sortable: true, value: 'teleports' },
      { text: 'Mode', sortable: true, value: 'mode' },
      { text: 'Stage', sortable: true, value: 'stage' },
      { text: 'Tick', sortable: true, value: 'tickrate' },
      { text: 'Server', sortable: true, value: 'server_name' },
      { text: 'Created', sortable: true, value: 'created_on' }
    ];
    if (this.globalAdmin) {
      baseHeaders.push({
        text: 'Admin',
        sortable: false,
        value: 'admin'
      });
    }

    return baseHeaders;
  }

  selectedModes: string[] = ['kz_timer', 'kz_simple', 'kz_vanilla'];
  selectedRuns: string[] = ['tp', 'pro'];
  selectedTickrate: string[] = ['128'];
  selectedMap: string = '';
  selectedStage: number = 0;

  records: Record[] = [];
  mapList: string[] = [];
  stages: any[] = [];
  loading: boolean = false;

  confirmTooltip: any = {};
  selectedRecord: Record = {} as Record;
  formLoading: boolean = false;
  dialog: boolean = false;

  head () {
    return {
      title: this.$t('records')
    };
  }

  mounted () {
    this.loadMapList();
    this.loadRecords();
  }

  loadRecords () {
    this.loading = true;
    const params = new URLSearchParams();
    let url = `${API_HOST}/api/v2.0/records/top/recent`;
    if (this.selectedRuns.length === 1) {
      params.set('has_teleports', (this.selectedRuns[0] === 'tp').toString());
    }
    this.selectedModes.forEach((mode) => {
      params.append('modes_list', mode);
    });
    if (this.selectedMap) {
      params.set('map_name', this.selectedMap);
      url = `${API_HOST}/api/v2.0/records/top`;
    } else {
      this.stages = [];
    }
    params.set('stage', this.selectedStage.toString());
    this.$axios.$get<Record[]>(url, { params })
      .then((records) => {
        this.records = records;
        if (this.records.length == 0) return;
        this.loadStages(records[0].map_id);
      })
      .catch((err) => {
        this.$toast.error(this.$t('recordsLoadingFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.loading = false;
      });
  }

  loadMapList () {
    const params = new URLSearchParams();
    params.set('limit', '999');
    params.set('is_validated', 'true');
    this.$axios.$get<Map[]>(`${API_HOST}/api/v2.0/maps`, { params })
      .then((maps) => {
        this.mapList = maps.map(m => m.name.toLowerCase());
      })
      .catch((err) => {
        this.$toast.error(this.$t('mapListLoadingFail').toString());
        console.log(err);
      });
  }

  loadStages (mapId) {
    if (!this.selectedMap) return;
    const params = new URLSearchParams();
    params.append('map_ids', mapId.toString());
    this.$axios.$get<RecordFilter[]>(`${API_HOST}/api/v2.0/record_filters`, { params })
      .then((rf) => {
        this.stages = [];
        const stages = [...new Set(rf.map(r => r.stage))].sort();
        for (const stage of stages) {
          if (stage == 0) {
            this.stages.push({
              text: 'MAIN',
              value: 0
            });
          } else {
            this.stages.push({
              text: `BONUS ${stage}`,
              value: stage
            });
          }
        }
      })
      .catch((err) => {
        this.$toast.error('Unable to obtain record filters');
        console.log(err);
      });
  }

  deleteRecord (item) {
    this.dialog = true;
    this.selectedRecord = item;
  }

  onConfirmDelete(confirmed: boolean) {
    if (!confirmed) {
      this.dialog = false;
      this.formLoading = false;
      this.selectedRecord = {} as Record;
      return;
    }

    this.formLoading = true;
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/records/delete`, { record_id: this.selectedRecord.id }, { withCredentials: true })
      .then(success => {
        this.$toast.info("Record deleted");
        this.loadRecords();
      })
      .catch(err => {
        this.$toast.error("Unable to delete record");
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
        this.dialog = false;
        this.selectedRecord = {} as Record;
      });
  }
}
</script>
