<template lang="pug">
  v-card(:loading="loading")
    v-card-title Delete Record
    v-card-text
      v-form(ref="recordForm" v-if="record")
        v-container
          v-list(dense)
            v-list-item
              v-list-item-content ID
              v-list-item-content(class="align-end") {{ record.id }}
            v-list-item
              v-list-item-content Map Name ({{ record.map_id }})
              v-list-item-content(class="align-end") {{ record.map_name }}
            v-list-item
              v-list-item-content SteamID64
              v-list-item-content(class="align-end") {{ record.steamid64 }}
            v-list-item
              v-list-item-content
                div Player Name
                  v-btn(text icon color="blue" target="_blank" :href="`http://steamcommunity.com/profiles/${record.steamid64}`")
                    v-icon mdi-open-in-new
              v-list-item-content(class="align-end") {{ record.player_name }}
            v-list-item
              v-list-item-content Server Name ({{ record.server_id }})
              v-list-item-content(class="align-end") {{ record.server_name }}
            v-list-item
              v-list-item-content Teleports
              v-list-item-content(class="align-end") {{ record.teleports }}
            v-list-item
              v-list-item-content Time
              v-list-item-content(class="align-end") {{ record.time }}
            v-list-item
              v-list-item-content Tickrate
              v-list-item-content(class="align-end") {{ record.tickrate }}
            v-list-item
              v-list-item-content Mode
              v-list-item-content(class="align-end") {{ record.mode }}
            v-list-item
              v-list-item-content Stage
              v-list-item-content(class="align-end") {{ record.stage }}
            v-list-item
              v-list-item-content Created
              v-list-item-content(class="align-end") {{ record.created_on }}
    v-card-actions
      v-btn(color="grey" text @click="submit(false)" :disabled="loading") Cancel
      v-spacer
      v-btn(color="red" text @click="submit(true)" :disabled="loading") Delete
</template>

<script lang="ts">
import {
  Vue, Component, Ref, Prop
} from 'nuxt-property-decorator';
import Record from '@/models/Record';

@Component
export default class DeleteRecordForm extends Vue {
  @Ref()
  recordForm!: any;

  @Prop(Boolean)
  loading!: boolean;

  @Prop()
  record!: Record;

  submit(confirmation: boolean) {
    this.$emit('submit', confirmation);
  }
}
</script>
