<template lang="pug">
  v-card
    v-card-title {{ !ban ? $t('newBan') : $t('editBan', { id: ban.id, steamid: ban.steam_id }) }}
    v-card-text
      v-form(ref="banForm" lazy-validation)
        v-container
          v-row
            v-col(cols="12" md="6")
              v-text-field(v-model="steamId" label="SteamID" :rules="steamIdRules" :disabled="!!ban")
            v-col(cols="12" md="6")
              v-select(
                v-model="type"
                :label="$t('banType')"
                :items="banTypes"
                item-text="title"
                item-value="name"
                persistent-hint
                single-linear
                required
              )
          v-row
            v-col(cols="12")
              v-text-field(v-model="notes" :label="$t('notes')")
            v-col(cols="12")
              v-text-field(v-model="stats" :label="$t('stats')")
          v-row(v-show="type === 'other'")
            v-col(cols="12" md="4")
              v-checkbox(color="green" v-model="useCustomDate" :label="$t('customDate')")
          v-row(v-show="useCustomDate && type === 'other'")
            v-col(cols="12" md="6")
              h3 {{ customDate }}
              v-menu(
                v-model="banDateMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              )
                template(v-slot:activator="{ on }")
                  v-text-field(
                    v-model="customDate"
                    :label="$t('customDate')"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  )
                v-date-picker(v-model="customDate" @input="banDateMenu = false")
            v-col(cols="12" md="2")
              v-btn(color="blue" text @click="customDate = new Date().toISOString().substring(0, 10)") {{ $t('today') }}
          v-row
            v-progress-linear(indeterminate color="cyan" v-show="loading")
    v-card-actions
      v-btn(color="grey" text @click="$emit('cancel')") {{ $t('close') }}
      v-btn(color="grey darken-2" :disabled="loading" text @click="resetForm") {{ $t('reset') }}
      div(class="flex-grow-1")
      v-btn(color="red" text @click="submitForm(true)" v-show="!!ban" :disabled="loading") {{ $t('unban') }}
      v-btn(color="blue" text @click="submitForm(false)" :disabled="loading || !isChanged") {{ !ban ? $t('add') : $t('update') }}
</template>

<script lang="ts">
import {
  Vue, Component, Ref, PropSync, Watch, Prop
} from 'nuxt-property-decorator';
import SteamID from 'steamid';
import equal from 'fast-deep-equal';
import Ban from '~/models/Ban';

@Component
export default class BanForm extends Vue {
  @PropSync('value')
  ban!: Ban | null;
  steamId: string = '';
  type: string = '';
  notes: string = '';
  stats: string = '';
  useCustomDate: boolean = false;
  customDate: string = new Date().toISOString().substring(0, 10);
  banDateMenu: boolean = false;

  @Ref()
  banForm: any;

  @Prop(Boolean)
  loading: boolean = false;

  banTypes = [
    { name: 'ban_evasion', title: 'Ban Evasion', days: 0 },
    { name: 'bhop_hack', title: 'Bhop Hack', days: 0 },
    { name: 'bhop_macro', title: 'Bhop Macro', days: 30 },
    { name: 'exploiting', title: 'Exploiting', days: 0 },
    { name: 'strafe_hack', title: 'Strafe Hack', days: 0 },
    { name: 'strafe_macro', title: 'Strafe Macro', days: 90 },
    { name: 'other', title: 'Other', days: 0 }
  ];

  steamIdRules = [
    (v: string) => !!v || 'SteamID is required',
    (v: string) => {
      try {
        return new SteamID(v).isValid();
      } catch (err) {
        return 'SteamID is not Valid';
      }
    }
  ];

  mounted () {
    this.resetForm();
  }

  @Watch('ban')
  onModelChange () {
    this.resetForm();
  }

  resetForm () {
    this.steamId = '';
    this.notes = '';
    this.stats = '';
    this.type = '';
    if (this.ban) {
      this.steamId = this.ban.steam_id;
      this.notes = this.ban.notes;
      this.stats = this.ban.stats;
      this.type = this.ban.ban_type;
    }
  }

  createBanFromForm () {
    return {
      ...this.ban,
      steam_id: this.steamId,
      notes: this.notes,
      stats: this.stats,
      ban_type: this.type
    } as Ban;
  }

  submitForm (unban: boolean = false) {
    if (!this.banForm.validate()) { return; }
    const ban = this.createBanFromForm();
    if (unban) {
      ban.expires_on = this.$dateFns.subDays(new Date(), 1).toISOString();
    } else {
      const len = this.banTypes.find(l => l.name === ban.ban_type);
      if (len) {
        const { days } = len;
        if (ban.ban_type === 'other' && this.useCustomDate) {
          ban.expires_on = new Date(this.customDate).toISOString();
        } else if (days === 0) {
          ban.expires_on = '9999-01-31T05:00:00.000Z';
        } else {
          ban.expires_on = this.$dateFns.addDays(new Date(), days).toISOString();
        }
      }
    }
    this.$emit('submit', ban, !!this.ban);
  }

  get isChanged () {
    if (this.type === 'other' && this.useCustomDate) {
      return true;
    }
    return !equal(this.ban, this.createBanFromForm());
  }
}
</script>
