<template lang="pug">
  v-card
    v-card-title
      v-row
        v-col(cols="12" sm="6")
          v-text-field(
            v-model="steamid"
            append-icon="mdi-magnify"
            :label="$t('steamid')"
            :rules="steamIdRules"
            single-line
            hide-details
            dense
          )
        v-col(cols="12" sm="3")
          v-select(
            v-model="typeFilter"
            :items="jumpTypes"
            :disabled="loading"
            @change="loadJumps"
            :label="$t('jumpType')"
            dense
            clearable
          )
        v-col(cols="auto" class="text-center")
          div(class="overline") MSL
          v-btn-toggle(v-model="mslFilter" mandatory)
            v-btn(small :disabled="loading") {{ $t('all') }}
            v-btn(small :disabled="loading") {{ $t('yes') }}
            v-btn(small :disabled="loading") {{ $t('no') }}
        v-col(cols="auto" class="text-center")
          div(class="overline") Crouch Jump
          v-btn-toggle(v-model="cjFilter" mandatory)
            v-btn(small :disabled="loading") {{ $t('all') }}
            v-btn(small :disabled="loading") {{ $t('yes') }}
            v-btn(small :disabled="loading") {{ $t('no') }}
        v-col(cols="auto" class="text-center")
          div(class="overline") -W Bind
          v-btn-toggle(v-model="wFilter" mandatory)
            v-btn(small :disabled="loading") {{ $t('all') }}
            v-btn(small :disabled="loading") {{ $t('yes') }}
            v-btn(small :disabled="loading") {{ $t('no') }}
        v-col(cols="auto" class="text-center")
          div(class="overline") Crouch Boost
          v-btn-toggle(v-model="cbFilter" mandatory)
            v-btn(small :disabled="loading") {{ $t('all') }}
            v-btn(small :disabled="loading") {{ $t('yes') }}
            v-btn(small :disabled="loading") {{ $t('no') }}
        v-col(cols="12" sm="auto")
          div(class="overline") &nbsp;
          v-btn-toggle
            v-btn(small @click="loadJumps" :loading="loading") {{ $t('applyFilter') }}
    v-data-table(
      :headers="headers"
      :items="jumps"
      :search="search"
      :loading="loading"
      :footer-props="{ showFirstLastPage: true }"
      multi-sort
      :loading-text="$t('loading')"
    )
      template(v-slot:top)
        v-toolbar(flat dense)
          v-toolbar-title {{ $t('jumpstats') }}
          v-spacer
          v-btn(@click="loadJumps") {{ $t('refresh') }}
      template(v-slot:item.jump_type="{ item }")
        span {{ convertJumpName(item.jump_type) }}
      template(v-slot:item.admin="{ item }")
        v-btn(
          text
          @click="deleteJumpstat(item)"
        )
          v-icon(color="red") mdi-delete-forever

    v-dialog(v-model="dialog" max-width="500px")
      delete-form(@submit="onConfirmDelete" :loading="formLoading" :jumpstat="selectedJumpstat")
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import SteamID from 'steamid';
import DeleteForm from '@/components/jumpstats/DeleteForm.vue';
import Jumpstat from '@/models/Jumpstat';
import { API_HOST } from '@/app.config';

const User = namespace('user');

@Component({
  components: {
    DeleteForm
  }
})
export default class JumpstatsPage extends Vue {
  @User.Getter('isGlobalAdmin')
  globalAdmin!: boolean;

  get headers() {
    const baseHeaders = [
      { text: 'ID', sortable: true, value: 'id' },
      { text: 'Player', sortable: true, value: 'player_name' },
      { text: 'Type', sortable: true, value: 'jump_type' },
      { text: 'Distance', sortable: true, value: 'distance' },
      { text: 'Strafes', sortable: true, value: 'strafe_count' },
      { text: 'Crouch Jump', value: 'is_crouch_bind' },
      { text: '-W Bind', value: 'is_forward_bind' },
      { text: 'Crouch Boost', value: 'is_crouch_boost' },
      { text: 'Created', sortable: true, value: 'created_on' }
    ];

    if (this.globalAdmin) {
      baseHeaders.push({
        text: 'Admin',
        sortable: false,
        value: 'admin'
      });
    }

    return baseHeaders;
  }

  jumps: Jumpstat[] = [];
  loading = false;
  search: string = '';
  cjFilter = 0;
  wFilter = 0;
  cbFilter = 0;
  mslFilter = 0;

  jumpTypes = [
    { text: 'Long Jump', value: 'lj' },
    { text: 'Bhop', value: 'bhop' },
    { text: 'MultiBhop', value: 'multibhop' },
    { text: 'Weird Jump', value: 'wj' },
    { text: 'Drop Bhop', value: 'dropbhop' },
    { text: 'Count Jump', value: 'cj' },
    { text: 'Ladder Jump', value: 'ladderjump' }
  ];

  typeFilter: string = '';
  selectedJump: string = '';

  steamid: string = '';
  steamIdRules = [
    (v: string) => !!v || 'SteamID is required',
    (v: string) => {
      try {
        return new SteamID(v).isValid();
      } catch (err) {
        return 'SteamID is not Valid';
      }
    }
  ];

  dialog: boolean = false;
  selectedJumpstat: Jumpstat = {} as Jumpstat;
  formLoading: boolean = false;

  head () {
    return {
      title: this.$t('jumpstats')
    };
  }

  mounted () {
    this.loadJumps();
  }

  loadJumps () {
    this.loading = true;
    const params = new URLSearchParams();
    if (this.typeFilter) {
      params.set('jumptype', this.typeFilter);
    }
    if (this.cjFilter > 0) {
      params.set('is_crouch_bind', (this.cjFilter === 1).toString());
    }
    if (this.wFilter > 0) {
      params.set('is_crouch_bind', (this.wFilter === 1).toString());
    }
    if (this.cbFilter > 0) {
      params.set('is_crouch_boost', (this.cbFilter === 1).toString());
    }
    if (this.mslFilter > 0) {
      params.set('is_msl', (this.mslFilter === 1).toString());
    }
    if (this.steamid) {
      params.set('steam_id', this.steamid);
    }
    this.$axios.$get<Jumpstat[]>(`${API_HOST}/api/v2.0/jumpstats`, { params })
      .then((jumps) => {
        this.jumps = jumps;
      })
      .catch((err) => {
        this.$toast.error(this.$t('jumpstatsLoadFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.loading = false;
      });
  }

  convertJumpName (type: number) {
    return this.jumpTypes[type - 1].text;
  }

  deleteJumpstat(item) {
    this.dialog = true;
    this.selectedJumpstat = item;
  }

  onConfirmDelete(confirmed: boolean) {
    if (!confirmed) {
      this.dialog = false;
      this.formLoading = false;
      this.selectedJumpstat = {} as Jumpstat;
      return;
    }

    this.formLoading = true;
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/jumpstats/delete`, { jumpstat_id: this.selectedJumpstat.id }, { withCredentials: true })
      .then(success => {
        this.$toast.info("Jumpstat deleted");
        this.loadJumps();
      })
      .catch(err => {
        this.$toast.error("Unable to delete Jumpstat");
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
        this.dialog = false;
        this.selectedJumpstat = {} as Jumpstat;
      });
  }
}
</script>
