<template lang="pug">
  v-container
    v-row
      v-col(cols="12" lg="5")
        v-card(v-if="map" class="mx-auto")
          v-card-title {{ map.name }}
            v-spacer
            v-dialog(v-model="dialog" max-width="500px" persistent)
              template(v-slot:activator="{ on }" v-if="(globalAdmin || mapAdmin)")
                v-btn(text color="blue" v-on="on") {{ $t('edit') }}
              edit-map-form(v-model="map" @submit="onMapUpdate" @cancel="dialog = false" :loading="formLoading")
          v-divider
          v-list(dense)
            v-list-item
              v-list-item-content ID
              v-list-item-content(class="align-end") {{ map.id }}
            v-list-item
              v-list-item-content {{ $t('filesize') }}
              v-list-item-content(class="align-end") {{ map.filesize }}
            v-list-item
              v-list-item-content {{ $t('validated') }}
              v-list-item-content(class="align-end") {{ map.validated }}
            v-list-item
              v-list-item-content {{ $t('difficulty') }}
              v-list-item-content(class="align-end") {{ map.difficulty }} {{ getDifficultyText(map.difficulty) }}
            v-list-item
              v-list-item-content Created
              v-list-item-content(class="align-end") {{ map.created_on }}
            v-list-item
              v-list-item-content Updated
              v-list-item-content(class="align-end") {{ map.updated_on }}
            v-list-item
              v-list-item-content Approved By
              v-list-item-content(class="align-end") {{ map.approved_by_steamid64 }}
            v-list-item
              v-list-item-content Workshop URL
              v-list-item-content(class="align-end")
                a(target="_blank" :href="map.workshop_url") {{ map.workshop_url }}
            v-list-item
              v-list-item-content Download URL
              v-list-item-content(class="align-end")
                a(target="_blank" :href="map.download_url") {{ map.download_url }}

        v-skeleton-loader(
          v-else
          type="card"
        )

      v-col(cols="12" lg="7")
        v-card(v-if="map")
          v-card-title {{ $t('recordFilters') }}
            v-spacer
            v-dialog(v-model="rfDialog" max-width="500px" persistent)
              template(v-slot:activator="{ on }" v-if="(globalAdmin || mapAdmin)")
                v-btn(text color="blue" v-on="on") {{ $t('add') }}
              record-filter-form(v-model="recordFilters" @submit="onAddRecordFilters" @cancel="rfDialog = false" :loading="formLoading")
          v-divider
          v-data-table(
            :headers="rfHeaders"
            :items="recordFilters"
            hide-default-footer
            disable-pagination
          )
            template(v-slot:item.has_teleports="{ item }")
              span(:class="item.has_teleports?'amber--text':'blue-grey--text'") {{ item.has_teleports ? 'NUB' : 'PRO' }}
            template(v-slot:item.mode_id="{ item }") {{ getModeString(item.mode_id) }}
            template(v-slot:item.stage="{ item }") {{ getStageString(item.stage) }}

        v-skeleton-loader(
          v-else
          type="card"
        )
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import cartesian from 'cartesian';
import EditMapForm from '@/components/maps/EditMapForm.vue';
import RecordFilterForm from '@/components/record_filters/AddRecordFilterForm.vue';
import Map from '@/models/Map';
import RecordFilter from '@/models/RecordFilter';
import { API_HOST } from '@/app.config';

const User = namespace('user');

@Component({
  components: {
    EditMapForm,
    RecordFilterForm
  }
})
export default class MapPage extends Vue {
  @User.Getter('isGlobalAdmin')
  globalAdmin!: boolean;

  @User.Getter('isMapAdmin')
  mapAdmin!: boolean;

  id: number = -1;
  map: Map | null = null;
  recordFilters: RecordFilter[] = [];

  dialog: boolean = false;
  rfDialog: boolean = false;
  formLoading: boolean = false;

  rfHeaders = [
    { text: 'ID', value: 'id', sortable: true },
    { text: 'Mode', value: 'mode_id' },
    { text: 'Stage', value: 'stage' },
    { text: 'Tickrate', value: 'tickrate' },
    { text: 'Type', value: 'has_teleports' },
    { text: 'Created', value: 'created_on' }
  ];

  difficulties = [
    { value: 1, text: 'Very Easy' },
    { value: 2, text: 'Easy' },
    { value: 3, text: 'Medium' },
    { value: 4, text: 'Hard' },
    { value: 5, text: 'Very Hard' },
    { value: 6, text: 'Extreme' },
    { value: 7, text: 'Death' }
  ];

  validate ({ params }) {
    return /^\d+$/.test(params.id);
  }

  head () {
    return {
      title: this.map ? this.map.name : this.$t('mapLoading')
    };
  }

  mounted () {
    this.id = Number(this.$route.params.id);
    this.loadMap();
    this.loadRecordFilters();
  }

  loadMap () {
    this.$axios.$get<Map>(`${API_HOST}/api/v2.0/maps/${encodeURIComponent(this.id)}`)
      .then((map) => {
        this.map = map;
      })
      .catch((err) => {
        this.$toast.error('Unable to load map info');
        console.log(err);
      });
  }

  loadRecordFilters () {
    const params = new URLSearchParams();
    params.append('map_ids', this.id.toString());
    this.$axios.$get<RecordFilter[]>(`${API_HOST}/api/v2.0/record_filters`, { params })
      .then((rf) => {
        this.recordFilters = rf;
      })
      .catch((err) => {
        this.$toast.error('Unable to obtain record filters');
        console.log(err);
      });
  }

  onMapUpdate (map: Map) {
    console.log(map);
    this.$axios.$put(`${API_HOST}/api/v2.0/admin/maps/${map.id}`, map, { withCredentials: true })
      .then((res) => {
        if (res.Success) {
          this.$toast.info(this.$t('updateMapSuccess').toString());
          this.dialog = false;
          this.loadMap();
        } else {
          this.$toast.error(this.$t('updateMapFail').toString());
        }
      })
      .catch((err) => {
        this.$toast.error(this.$t('updateMapFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
      });
  }

  onAddRecordFilters (stage: number, tickrates: number[], modeIds: number[], runtypes: boolean[]) {
    if (!this.map) { return; }
    const recordFilters = cartesian({
      map_id: this.map.id,
      mode_id: modeIds,
      stage,
      tickrate: tickrates,
      has_teleports: runtypes
    });
    this.formLoading = true;
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/record_filters`, recordFilters, { withCredentials: true })
      .then((res) => {
        if (res.Success) {
          this.$toast.info(this.$t('addRecordFiltersSuccess').toString());
          this.loadRecordFilters();
          this.rfDialog = false;
        } else {
          this.$toast.error(this.$t('addRecordFiltersFail').toString());
        }
      })
      .catch((err) => {
        this.$toast.error(this.$t('addRecordFiltersFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
      });
  }

  getDifficultyColor (difficulty: number) {
    if (difficulty <= 2) { return 'green'; }
    if (difficulty <= 4) { return 'orange'; }
    return 'red';
  }

  getDifficultyText (difficulty: number) {
    return this.difficulties[difficulty - 1].text;
  }

  getModeString (modeId: number) {
    if (modeId === 200) { return 'KZTimer'; }
    if (modeId === 201) { return 'SimpleKZ'; }
    if (modeId === 202) { return 'Vanilla'; }
    return 'N/A';
  }

  getStageString (stage: number) {
    if (stage === 0) { return 'MAIN'; }
    return `BONUS ${stage}`;
  }
}
</script>
