<template lang="pug">
  v-card
    v-card-title
      v-row(justify="start")
        v-col(cols="12" md="6")
          v-text-field(
            v-model="search"
            append-icon="mdi-magnify"
            :label="$t('search')"
            single-line
            hide-details
          )
        v-col(cols="6" md="2")
          v-select(
            v-model="difficultyFilter"
            :items="difficulties"
            :label="$t('difficulty')"
            clearable
            @change="loadMaps"
          )
        v-col(cols="6" md="2")
          v-switch(
            color="blue"
            v-model="isValidated"
            :label="$t('global')"
            @change="loadMaps"
          )
    v-data-table(
      :headers="headers"
      :items="maps"
      :search="search"
      :loading="loading"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :footer-props="{ showFirstLastPage: true }"
      multi-sort
      :loading-text="$t('loading')"
      show-expand
    )
      template(v-slot:item.validated="{ item }")
        v-chip(:color="item.validated ? 'green' : 'red'") {{ item.validated }}
      template(v-slot:item.difficulty="{ item } ")
        v-chip(:color="getDifficultyColor(item.difficulty)") {{ item.difficulty }} {{ getDifficultyText(item.difficulty) }}
      template(v-slot:item.action="{ item }")
        v-btn(text icon :to="`/dashboard/maps/${item.id}`")
          v-icon(small) mdi-magnify

      template(v-slot:expanded-item="{ headers, item }")
        td(:colspan="headers.length")
          v-list(dense)
            v-list-item(two-line)
              v-list-item-content
                v-list-item-title Workshop URL
                v-list-item-subtitle
                  a(target="_blank" :href="item.workshop_url") {{ item.workshop_url }}
            v-list-item(two-line)
              v-list-item-content
                v-list-item-title Download URL
                v-list-item-subtitle
                  a(target="_blank" :href="item.download_url") {{ item.download_url }}

      template(v-slot:top)
        v-toolbar(flat)
          v-toolbar-title {{ $t('maps') }}
            v-subheader(class="claption") Expand for Links
          v-spacer
          v-btn(@click="loadMaps" class="mb-2 mr-2") {{ $t('refresh') }}
          v-dialog(v-model="dialog" max-width="500px" persistent)
            template(v-slot:activator="{ on }" v-if="(globalAdmin || mapAdmin)")
              v-btn(color="primary" class="mb-2" v-on="on") {{ $t('newMap') }}
            new-map-form(@submit="onMapSubmit" @cancel="dialog = false" :loading="formLoading")
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import cartesian from 'cartesian';
import NewMapForm from '@/components/maps/NewMapForm.vue';
import Map from '@/models/Map';
import { API_HOST } from '@/app.config';
import RecordFilter from '~/models/RecordFilter';

const User = namespace('user');

@Component({
  components: {
    NewMapForm
  }
})
export default class MapsPage extends Vue {
  sortBy: string = 'name';
  sortDesc: boolean = false;
  headers = [
    { text: 'ID', sortable: true, value: 'id' },
    { text: 'Map', sortable: true, value: 'name' },
    { text: 'Filesize', sortable: true, value: 'filesize' },
    { text: 'Difficulty', sortable: true, value: 'difficulty' },
    { text: 'Validated', value: 'validated' },
    { text: 'Created', sortable: true, value: 'created_on' },
    { text: 'Updated', sortable: true, value: 'updated_on' },
    { text: 'Actions', value: 'action' }
  ];

  difficulties = [
    { value: 1, text: 'Very Easy' },
    { value: 2, text: 'Easy' },
    { value: 3, text: 'Medium' },
    { value: 4, text: 'Hard' },
    { value: 5, text: 'Very Hard' },
    { value: 6, text: 'Extreme' },
    { value: 7, text: 'Death' }
  ];

  difficultyFilter: string = '';

  @User.Getter('isGlobalAdmin')
  globalAdmin!: boolean;

  @User.Getter('isMapAdmin')
  mapAdmin!: boolean;

  loading: boolean = false;
  maps: Map[] = [];
  search: string = '';
  isValidated: boolean = true;

  dialog: boolean = false;
  formLoading: boolean = false;

  head () {
    return {
      title: this.$t('maps')
    };
  }

  mounted () {
    this.loadMaps();
  }

  loadMaps (sort: string = 'name', sortDesc: boolean = false) {
    this.sortBy = sort;
    this.sortDesc = sortDesc;
    this.loading = true;
    const params = new URLSearchParams();
    params.set('is_validated', this.isValidated.toString());
    if (this.difficultyFilter) {
      params.set('difficulty', this.difficultyFilter);
    }
    params.set('limit', '999');
    this.$axios.$get<Map[]>(`${API_HOST}/api/v2.0/maps`, { params })
      .then((maps) => {
        this.maps = maps;
      })
      .catch((err) => {
        this.$toast.error(this.$t('mapLoadError').toString());
        console.log(err);
      })
      .finally(() => {
        this.loading = false;
      });
  }

  onMapSubmit (map: Map, tickrates: number[], modeIds: number[], runtypes: boolean[]) {
    this.formLoading = true;
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/maps`, map, { withCredentials: true })
      .then((res) => {
        if (res.Success) {
          this.$toast.info(this.$t('addMapSuccess').toString());
          this.loadMaps('id', true);
          
          const recordFilters = cartesian({
            map_id: res.map_id,
            mode_id: modeIds,
            stage: 0,
            tickrate: tickrates,
            has_teleports: runtypes
          });
          this.$axios.$post(`${API_HOST}/api/v2.0/admin/record_filters`, recordFilters, { withCredentials: true })
            .then((res) => {
              if (res.success) {
                this.$toast.info(this.$t('addRecordFiltersSuccess').toString());
              } else {
                this.$toast.error(this.$t('addRecordFiltersFail').toString());
              }
            })
            .catch((err) => {
              this.$toast.error(this.$t('addRecordFiltersFail').toString());
              console.log(err);
            })
            .finally(() => {
              this.dialog = false;
            });
        } else {
          this.$toast.error(this.$t('addMapFail').toString());
        }
      })
      .catch((err) => {
        this.$toast.error(this.$t('addMapFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
      });
  }

  getDifficultyColor (difficulty: number) {
    if (difficulty <= 2) { return 'green'; }
    if (difficulty <= 4) { return 'orange'; }
    return 'red';
  }

  getDifficultyText (difficulty: number) {
    return this.difficulties[difficulty - 1].text;
  }
}
</script>
