<template lang="pug">
  v-card
    v-card-title {{ $t('addRecordFilters') }}
    v-card-text
      v-form(ref="form")
        v-container
          v-row
            v-col(cols="12")
              h2 {{ $t('stage') }} - {{ currentStageStr }}
              v-row(justify="start" align="center")
                v-btn(text small @click="decrementStage")
                  v-icon mdi-minus
                div(class="headline ma-2") {{ currentStage }}
                v-btn(text small @click="incrementStage")
                  v-icon mdi-plus
            v-col(cols="auto")
              h3 {{ $t('tickrates') }}
              v-btn-toggle(v-model="selectedTicks" mandatory multiple)
                v-btn(
                  v-for="tick in tickrates"
                  :key="tick.value"
                  :value="tick.value"
                  :disabled="tick.disabled"
                  color="green"
                  small
                ) {{ tick.text }}
            v-col(cols="auto")
              h3 {{ $t('modes') }}
              v-btn-toggle(v-model="selectedModes" mandatory multiple)
                v-btn(
                  v-for="mode in modes"
                  :key="mode.value"
                  :value="mode.value"
                  :disabled="mode.disabled"
                  color="blue"
                  small
                ) {{ mode.text }}
            v-col(cols="auto")
              h3 {{ $t('runTypes') }}
              v-btn-toggle(v-model="selectedRunTypes" mandatory multiple)
                v-btn(
                  v-for="runType in runTypes"
                  :key="runType.value"
                  :value="runType.value"
                  :disabled="runType.disabled"
                  color="red"
                  small
                ) {{ runType.text }}
        v-row
          v-progress-linear(indeterminate color="cryan" v-show="loading")
    v-card-actions
      v-btn(color="grey" text @click="$emit('cancel')") {{ $t('close') }}
      div(class="flex-grow-1")
      v-btn(color="blue" text @click="submitForm") {{ $t('add') }}
</template>

<script lang="ts">
import {
  Vue, Component, Ref, Prop, PropSync
} from 'nuxt-property-decorator';
import RecordFilter from '@/models/RecordFilter';

@Component
export default class AddRecordFilters extends Vue {
  @Ref()
  form: any;

  @PropSync('value')
  filters: RecordFilter[] | undefined;

  @Prop(Boolean)
  loading: boolean = false;

  tickrates = [
    { text: '128 Tick', value: 128 },
    { text: '102 Tick', value: 102, disabled: true },
    { text: '64 Tick', value: 64, disabled: true }
  ];

  selectedTicks: number[] = [128];

  modes = [
    { text: 'KZTimer', value: 200 },
    { text: 'SimpleKZ', value: 201 },
    { text: 'Vanilla', value: 202 }
  ];

  selectedModes: number[] = [200, 201, 202];

  runTypes = [
    { text: 'NUB', value: true },
    { text: 'PRO', value: false }
  ];

  selectedRunTypes: boolean[] = [true, false];

  currentStage: number = 0;

  fillFilters () {
    if (!this.filters || this.filters.length === 0) { return; }
    this.selectedTicks = [...new Set(this.filters.map(f => f.tickrate))];
    this.selectedModes = [...new Set(this.filters.map(f => f.mode_id))];
    this.selectedRunTypes = [...new Set(this.filters.map(f => f.has_teleports))];
  }

  submitForm () {
    this.$emit('submit', this.currentStage, this.selectedTicks, this.selectedModes, this.selectedRunTypes);
  }

  incrementStage () {
    this.currentStage += 1;
  }

  decrementStage () {
    if (this.currentStage === 0) { return; }
    this.currentStage -= 1;
  }

  get currentStageStr () {
    if (this.currentStage === 0) { return this.$t('main'); }
    return `${this.$t('bonus')} ${this.currentStage}`;
  }
}
</script>
