<template lang="pug">
  v-card
    v-card-title
      v-row(justify="start")
        v-col(cols="12" sm="6")
          v-text-field(
            v-model="search"
            append-icon="mdi-magnify"
            :label="$t('search')"
            single-line
            hide-details
            dense
          )
    v-data-table(
      :headers="headers"
      :items="servers"
      :loading="loading"
      :footer-props="{ showFirstLastPage: true }"
      :loading-text="$t('loading')"
      :search="search"
      :show-expand="globalAdmin"
      multi-sort
    )
      template(v-slot:item.action="{ item }")
        v-btn(text color="blue" :href="`steam://connect/${item.ip}:${item.port}`") {{ $t('connect') }}
          v-icon mdi-steam

      template(v-slot:item.approval_status="{ item }")
        v-chip(color="green" v-if="item.approval_status === 1") {{ $t('approved') }}
        v-chip(color="grey" v-if="item.approval_status === 0") {{ $t('pending') }}
        v-chip(color="red" v-if="item.approval_status === -1") {{ $t('denied') }}

      template(v-slot:item.ip="{ item }") {{ item.ip }}:{{ item.port }}

      template(v-slot:item.owner_steamid64="{ item }")
        v-btn(text target="_blank" color="green" :href="`http://steamcommunity.com/profiles/${item.owner_steamid64}`") {{ item.owner_steamid64 }}

      template(v-slot:item.admin="{ item }")
        v-btn(
          text
          v-show="item.approval_status < 1"
          @click="approveServer(item.id)"
        )
          v-icon(color="green") mdi-check
        v-btn(
          text
          v-show="item.approval_status > -1"
          @click="rejectServer(item.id)"
        )
          v-icon(color="red") mdi-minus-circle

      template(v-slot:expanded-item="{ headers, item }")
        td(:colspan="headers.length")
          code {{ item.api_key }}
          v-btn(
            v-clipboard:copy="item.api_key"
            v-clipboard:success="onCopySuccess"
            v-clipboard:error="onCopyFail"
            text
            mall
          )
            v-icon(color="grey") mdi-content-copy

      template(v-slot:item.edit="{ item }")
        v-btn(color="primary" @click="onEditClick(item)") Edit

      template(v-slot:top)
        v-toolbar(flat)
          v-toolbar-title {{ $t('servers') }}
          v-spacer
          v-btn(@click="loadServers") {{ $t('refresh') }}

    v-dialog(v-model="dialog" max-width="500px" persistent)
      update-form(v-model="selectedServer" v-if="dialog" @submit="onUpdateServer" @cancel="dialog=false" :loading="formLoading")
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import Server from '@/models/Server';
import UpdateForm from '@/components/servers/UpdateForm.vue';
import { API_HOST } from '@/app.config';

const User = namespace('user');

@Component({
  components: {
    UpdateForm
  }
})
export default class ServersPage extends Vue {
  get headers () {
    const baseHeaders = [
      { text: 'Name', sortable: true, value: 'name' },
      { text: 'IP:Port', sortable: true, value: 'ip' },
      { text: 'Owner', value: 'owner_steamid64' },
      { text: 'Action', value: 'action', align: 'center' }
    ];
    if (this.globalAdmin) {
      baseHeaders.unshift({
        text: 'ID',
        value: 'id',
        align: 'center'
      });
      baseHeaders.push({
        text: 'Status',
        value: 'approval_status',
        align: 'center'
      });
      baseHeaders.push({
        text: 'Admin',
        value: 'admin',
        align: 'center'
      });
      baseHeaders.push({
        text: 'Edit',
        value: 'edit',
        align: 'center'
      });
    }
    return baseHeaders;
  }

  @User.Getter('isGlobalAdmin')
  globalAdmin!: boolean;

  loading: boolean = false;
  servers: Server[] = [];
  search: String = '';

  selectedServer: Server | undefined = {} as Server;
  dialog: boolean = false;
  formLoading: boolean = false;

  head () {
    return {
      title: this.$t('servers')
    };
  }

  mounted () {
    this.loadServers();
  }

  loadServers () {
    this.loading = true;
    const url = this.globalAdmin ? '/api/v2.0/admin/servers' : '/api/v2.0/servers?approval_status=1';
    this.$axios.$get<Server[]>(API_HOST + url,
      {
        withCredentials: this.globalAdmin,
        params: {
          limit: 999
        }
      })
      .then((servers) => {
        this.servers = servers;
      })
      .catch((err) => {
        this.$toast.error(this.$t('serverLoadError').toString());
        console.log(err);
      })
      .finally(() => {
        this.loading = false;
      });
  }

  approveServer (id: number) {
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/servers/approve/${id}`, null, { withCredentials: true })
      .then((res) => {
        if (res.Success) {
          this.$toast.info(this.$t('serverApproveSuccess').toString());
          this.loadServers();
        } else {
          this.$toast.error(this.$t('serverApproveFail').toString());
        }
      })
      .catch((err) => {
        this.$toast.error(this.$t('serverApproveFail').toString());
        console.log(err);
      });
  }

  rejectServer (id: number) {
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/servers/reject/${id}`, null, { withCredentials: true })
      .then((res) => {
        if (res.Success) {
          this.$toast.info(this.$t('serverDenySuccess').toString());
          this.loadServers();
        } else {
          this.$toast.error(this.$t('serverDenyFail').toString());
        }
      })
      .catch((err) => {
        this.$toast.error(this.$t('serverDenyFail').toString());
        console.log(err);
      });
  }

  onCopySuccess () {
    this.$toast.info(this.$t('serverKeyCopySuccess').toString());
  }

  onCopyFail () {
    this.$toast.error(this.$t('serverKeyCopyFail').toString());
  }

  onUpdateServer (server) {
    this.formLoading = true;
    this.$axios.$put(`${API_HOST}/api/v2.0/admin/servers/${server.id}`, server, { withCredentials: true })
      .then((res) => {
        if (res) {
          this.$toast.info('Server updated');
          this.loadServers();
          this.dialog = false;
        } else {
          this.$toast.error('Error updating server id ' + server.id);
        }
      })
      .catch((err) => {
        this.$toast.error('Error updating server id ' + server.id);
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
      });
  }

  onEditClick(item) {
    this.selectedServer = item;
    this.dialog = true;
    console.log(item);
  }
}
</script>
