<template lang="pug">
  v-card
    v-card-title
      v-row
    v-data-table(
      :headers="headers"
      :items="servers"
      :loading="loading"
      :footer-props="{ showFirstLastPage: true }"
      :loading-text="$t('loading')"
      show-expand
      multi-sort
    )
      template(v-slot:item.action="{ item }")
        v-btn(text color="blue" :href="`steam://connect/${item.ip}:${item.port}`") Connect
          v-icon mdi-steam

      template(v-slot:item.approval_status="{ item }")
        v-chip(color="green" v-if="item.approval_status === 1") {{ $t('approved') }}
        v-chip(color="grey" v-if="item.approval_status === 0") {{ $t('pending') }}
        v-chip(color="red" v-if="item.approval_status === -1") {{ $t('denied') }}

      template(v-slot:item.ip="{ item }") {{ item.ip }}:{{ item.port }}

      template(v-slot:item.approved_by_steamid64="{ item }")
        v-btn(text target="_blank" color="green" :href="`http://steamcommunity.com/profiles/${item.approved_by_steamid64}`") {{ item.approved_by_steamid64 }}

      template(v-slot:expanded-item="{ headers, item }")
        td(:colspan="headers.length")
          code {{ item.api_key }}
          v-btn(
            v-clipboard:copy="item.api_key"
            v-clipboard:success="onCopySuccess"
            v-clipboard:error="onCopyFail"
            text
            mall
          )
            v-icon(color="grey") mdi-content-copy

      template(v-slot:top)
        v-toolbar(flat)
          v-toolbar-title {{ $t('myServers' )}}
            v-subheader(class="caption") {{ $t('serverKeyHint') }}
          v-spacer
          v-btn(@click="loadServers" class="mb-2 mr-2") {{ $t('refresh') }}
          v-dialog(v-model="dialog" max-width="500px" persistent)
            template(v-slot:activator="{ on }")
              v-btn(color="primary" class="mb-2" v-on="on") {{ $t('newServer') }}
            server-form(@submit="onNewServer" @cancel="dialog = false" :loading="formLoading")
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator';
import ServerForm from '@/components/servers/ServerForm.vue';
import Server from '@/models/Server';
import { API_HOST } from '@/app.config';

const User = namespace('user');

@Component({
  components: {
    ServerForm
  }
})
export default class ServersOwnedPage extends Vue {
  headers = [
    { text: 'ID', sortable: true, value: 'id' },
    { text: 'Name', sortable: true, value: 'name' },
    { text: 'IP:Port', sortable: true, value: 'ip' },
    { text: 'Status', value: 'approval_status' },
    { text: 'Updated By', value: 'approved_by_steamid64' },
    { text: 'Action', value: 'action', align: 'center' }
  ];

  loading: boolean = false;
  servers: Server[] = [];
  dialog: boolean = false;
  formLoading: boolean = false;

  head () {
    return {
      title: this.$t('myServers')
    };
  }

  mounted () {
    this.loadServers();
  }

  loadServers () {
    this.loading = true;
    this.$axios.$get<Server[]>(`${API_HOST}/api/v2.0/servers/owned`, { withCredentials: true })
      .then((servers) => {
        this.servers = servers;
        console.log(this.servers);
      })
      .catch((err) => {
        this.$toast.error(this.$t('serverLoadFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.loading = false;
      });
  }

  onNewServer (server: Server) {
    console.log(server);
    this.formLoading = true;
    this.$axios.$post(`${API_HOST}/api/v2.0/servers/apply`, server, { withCredentials: true })
      .then((res) => {
        this.loadServers();
        this.$toast.info(this.$t('serverApplicationSuccess').toString());
        this.dialog = false;
      })
      .catch((err) => {
        this.$toast.error(this.$t('serverApplicationFail').toString());
        console.log(err);
      })
      .finally(() => {
        this.formLoading = false;
      });
  }

  onCopySuccess () {
    this.$toast.info(this.$t('serverKeyCopySuccess').toString());
  }

  onCopyFail () {
    this.$toast.error(this.$t('serverKeyCopyFail').toString());
  }
}
</script>
