<template lang="pug">
  v-container(fluid)
    v-row(dense)
      v-col(
        v-for="mode of modes"
        :key="mode.id"
      )
        v-card(
          class="mx-auto"
          max-width="400"
        )
          v-card-title {{ mode.name }}
            v-spacer
            v-btn(text color="purple" v-if="globalAdmin" @click="modeClick(modes.indexOf(mode))") {{ modes.indexOf(mode) == editIndex ? 'SAVE' : 'EDIT' }}
          v-card-text
            v-simple-table
              template(v-slot:default)
                tbody
                  tr(v-for="(value, key) in mode" :key="key")
                    td(class="caption font-weight-bold" width="150") {{ toTitleCase(key) }}
                    td(v-show="!editFields.includes(key) || editIndex !== modes.indexOf(mode)") {{ value }}
                    td(v-show="editFields.includes(key) && editIndex === modes.indexOf(mode)")
                      v-text-field(:label="key" v-model="editMode[key]")

          v-card-actions

</template>

<script lang="ts">
import { Vue, Component, namespace } from "nuxt-property-decorator";
import Mode from "@/models/Mode";
import { API_HOST } from "~/app.config";

const User = namespace("user");

@Component
export default class ModesPage extends Vue {
  @User.Getter("isGlobalAdmin")
  globalAdmin!: boolean;

  modes: Mode[] = [];

  editIndex = -1;
  editMode: Mode = {} as Mode;
  editFields: string[] = [
    'name',
    'description',
    'latest_version',
    'latest_version_description',
    'website',
    'repo',
    'contact_steamid64'
  ];

  head() {
    return {
      title: this.$t("modes")
    };
  }

  mounted() {
    this.loadModes();
  }

  loadModes() {
    this.$axios
      .$get<Mode[]>(`${API_HOST}/api/v2.0/modes`)
      .then(modes => {
        this.modes = modes;
      })
      .catch(err => {
        // this.$toast.error(this.$t('mapLoadError').toString());
        console.log(err);
      })
      .finally(() => {
        // this.loading = false;
      });
  }

  modeClick(modeIndex) {
    const mode = this.modes[modeIndex];
    if (modeIndex == this.editIndex) {
      console.log('save mode');
      this.$axios
        .$put(`${API_HOST}/api/v2.0/admin/modes/${mode.id}`,
          this.editMode,
          { withCredentials: true }
        )
        .then(data => {
          if (data) {
            this.loadModes()
            this.$toast.success('Mode updated');
          } else {
            this.$toast.error('Failed to update mode');
          }
        })
        .catch(err => {
          console.log(err);
          this.$toast.error('Failed to update mode');
        })
        .finally(() => {

        });
    }
    this.toggleEdit(modeIndex);
  }

  toggleEdit(modeIndex) {
    if (this.editIndex == modeIndex) {
      this.editIndex = -1;
      this.editMode = {} as Mode;
    } else {
      this.editIndex = modeIndex;
      this.editMode = { ...this.modes[modeIndex] };
    }
  }

  toTitleCase(str) {
    return str.split('_').join(' ').replace(/\w\S*/g, function(txt) {
      return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
  }
}
</script>
