<template lang="pug">
  v-card
    v-card-title Admin Tools

    v-card-text
      v-row
        v-card(class="mx-auto pa-5" max-width="300" outlined)
          v-card-title Record Delete
          v-card-text
            v-form(ref="recordForm")
              v-text-field(v-model="recordId" label="Record Id" :rules="numberRules" hide-details="auto")

          v-card-actions
            v-btn(@click="findRecord") Find
            v-spacer
            v-btn(text @click="recordId = null;record = null") Clear

          v-card-text(v-if="record")
            v-list(dense)
              v-list-item
                v-list-item-content ID
                v-list-item-content(class="align-end") {{ record.id }}
              v-list-item
                v-list-item-content Player
                v-list-item-content(class="align-end") {{ record.player_name }}
              v-list-item
                v-list-item-content SteamID64
                v-list-item-content(class="align-end")
                  a(:href="`http://steamcommunity.com/profiles/${record.steamid64}`") {{ record.steamid64 }}
              v-list-item
                v-list-item-content Map
                v-list-item-content(class="align-end") {{ record.map_name }}
              v-list-item
                v-list-item-content Time
                v-list-item-content(class="align-end") {{ record.time }}
              v-list-item
                v-list-item-content Teleports
                v-list-item-content(class="align-end") {{ record.teleports }}
              v-list-item
                v-list-item-content Mode
                v-list-item-content(class="align-end") {{ record.mode }}
              v-list-item
                v-list-item-content Stage
                v-list-item-content(class="align-end") {{ record.stage }}
              v-list-item
                v-list-item-content Tickrate
                v-list-item-content(class="align-end") {{ record.tickrate }}
              v-list-item
                v-list-item-content Server
                v-list-item-content(class="align-end") {{ record.server_name }} ({{ record.server_id }})
              v-list-item
                v-list-item-content Created
                v-list-item-content(class="align-end") {{ record.created_on }}

            v-card-actions
              v-btn(color="red" @click="deleteRecord") Delete

        v-card(class="mx-auto pa-5" max-width="300" outlined)
          v-card-title Jumpstat Delete
          v-card-text
            v-form(ref="jumpstatForm")
              v-text-field(v-model="jumpstatId" label="Jumpstat Id" :rules="numberRules" hide-details="auto")

          v-card-actions
            v-btn(@click="findJumpstat") Find
            v-spacer
            v-btn(text @click="jumpstatId = null;jumpstat = null") Clear

          v-card-text(v-if="jumpstat")
            v-list(dense)
              v-list-item
                v-list-item-content ID
                v-list-item-content(class="align-end") {{ jumpstat.id }}
              v-list-item
                v-list-item-content Player
                v-list-item-content(class="align-end") {{ jumpstat.player_name }}
              v-list-item
                v-list-item-content SteamID64
                v-list-item-content(class="align-end")
                  a(:href="`http://steamcommunity.com/profiles/${jumpstat.steamid64}`") {{ jumpstat.steamid64 }}
              v-list-item
                v-list-item-content Jump Type
                v-list-item-content(class="align-end") {{ jumpTypes[jumpstat.jump_type - 1].text }} ({{ jumpstat.jump_type }})
              v-list-item
                v-list-item-content Distance
                v-list-item-content(class="align-end") {{ jumpstat.distance }}
              v-list-item
                v-list-item-content Strafe Count
                v-list-item-content(class="align-end") {{ jumpstat.strafe_count }}
              v-list-item
                v-list-item-content Crouch Bind
                v-list-item-content(class="align-end") {{ jumpstat.is_crouch_bind }}
              v-list-item
                v-list-item-content Forward Bind
                v-list-item-content(class="align-end") {{ jumpstat.is_forward_bind }}
              v-list-item
                v-list-item-content Crouch Boost
                v-list-item-content(class="align-end") {{ jumpstat.is_crouch_boost }}
              v-list-item
                v-list-item-content Tickrate
                v-list-item-content(class="align-end") {{ jumpstat.tickrate }}
              v-list-item
                v-list-item-content Server ID
                v-list-item-content(class="align-end") {{ jumpstat.server_id }}
              v-list-item
                v-list-item-content Created
                v-list-item-content(class="align-end") {{ jumpstat.created_on }}

            v-card-actions
              v-btn(color="red" @click="deleteJumpstat") Delete
</template>

<script lang="ts">
import { Vue, Component, namespace, Ref } from 'nuxt-property-decorator';
import Record from '@/models/Record';
import { API_HOST } from '@/app.config';
import Jumpstat from '~/models/Jumpstat';

const User = namespace('user');

@Component
export default class ToolsPage extends Vue {

  // Records
  numberRules = [
    value => !!value || 'Required',
    value => /^-?[0-9]+$/.test(value)
  ];

  jumpTypes = [
    { text: 'Long Jump', value: 'lj' },
    { text: 'Bhop', value: 'bhop' },
    { text: 'MultiBhop', value: 'multibhop' },
    { text: 'Weird Jump', value: 'wj' },
    { text: 'Drop Bhop', value: 'dropbhop' },
    { text: 'Count Jump', value: 'cj' },
    { text: 'Ladder Jump', value: 'ladderjump' }
  ];

  recordId: number | null = null;
  record: Record | null = null;

  @Ref()
  recordForm!: any;

  findRecord () {
    if (!this.recordForm.validate()) return;
    this.$axios.$get(`${API_HOST}/api/v2.0/records/${this.recordId}`)
      .then(rec => this.record = rec)
      .catch(err => this.record = null);
    console.log(this.recordId);
  }

  deleteRecord () {
    if (!this.record) return;
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/records/delete`, { record_id: this.record.id }, { withCredentials: true })
      .then(success => {
        this.$toast.info("Record deleted");
        this.recordId = null;
        this.record = null;
      })
      .catch(err => {
        this.$toast.error("Unable to delete record");
        console.log(err);
      });
  }

  // Jumpstat
  jumpstatId: number | null = null;
  jumpstat: Jumpstat | null = null;

  @Ref()
  jumpstatForm!: any;

  findJumpstat () {
    if (!this.jumpstatForm.validate()) return;
    this.$axios.$get(`${API_HOST}/api/v2.0/jumpstats?id=${this.jumpstatId}`)
      .then(jumpstats => {
        if (jumpstats.length === 0) {
          this.$toast.error(`No jumpstat found with id ${this.jumpstatId}`);
        } else {
          this.jumpstat = jumpstats[0];
        }
      })
      .catch(err => this.jumpstat = null);
    console.log(this.jumpstatId);
  }

  deleteJumpstat () {
    if (!this.jumpstat) return;
    this.$axios.$post(`${API_HOST}/api/v2.0/admin/jumpstats/delete`, { jumpstat_id: this.jumpstat.id }, { withCredentials: true })
      .then(success => {
        this.$toast.info("Jumpstat deleted");
        this.jumpstatId = null;
        this.jumpstat = null;
      })
      .catch(err => {
        this.$toast.error("Unable to delete jumpstat");
        console.log(err);
      });
  }
}
</script>
