<template lang="pug">
  v-app(dark)
    v-navigation-drawer(
      v-model="drawer"
      :clipped="true"
      fixed
      app
    )
      v-list-item
        v-list-item-content
          v-list-item-title(class="title") {{ $t('navigationTitle') }}
      template(v-if="loggedIn")
        v-divider
        v-list-item(two-liner)
          v-list-item-avatar
            img(:src="avatar")
          v-list-item-content
            v-list-item-title {{ name }}
            v-list-item-subtitle(v-if="isGlobalAdmin") ADMIN
            v-list-item-subtitle(v-if="isMapAdmin") MAPMIN
      v-divider
      v-list(dense nav)
        template(v-for="(item, i) in items")
          v-list-item(
            v-if="!item.expand && (item.protected ? loggedIn : true) && (item.admin ? isGlobalAdmin : true)"
            :key="i"
            :to="item.to"
            router
            exact
          )
            v-list-item-action
              v-icon {{ item.icon }}
            v-list-item-content
              v-list-item-title(v-text="item.title")

          v-list-group(v-if="item.expand && (item.protected ? loggedIn : true)" :key="i" :prepend-icon="item.icon")
            template(v-slot:activator)
              v-list-item-title {{ item.title }}
            v-list-item(
              v-for="(subItem, subI) in item.items"
              v-if="subItem.protected ? loggedIn : true"
              :key="subI"
              :to="subItem.to"
              router
              exact
            )
              v-list-item-action
                v-icon {{ subItem.icon }}
              v-list-item-content
                v-list-item-title(v-text="subItem.title")
      template(v-slot:append)
        v-list
          v-list-item
            v-select(
              v-bind:value="currentLocale"
              :items="getLocales"
              @change="changeLocale"
              label="Language"
            )
          v-list-item
            v-list-item-content
              v-list-item-title(v-text="$t('theme')")
            v-list-item-action
              v-switch(v-model="darkTheme" color="grey darken-5" @change="toggleTheme")
          v-list-item
            v-btn(v-if="loggedIn" block color="red" :href="LOGOUT_URL") Logout

    v-app-bar(fixed app :clipped-left="true")
      v-app-bar-nav-icon(@click.stop="drawer = !drawer")
      v-toolbar-title(v-text="title")
      v-spacer
      v-btn(v-if="!loggedIn" :href="LOGIN_URL")
        v-icon(color="grey" class="pr-1") mdi-steam-box
        | {{ $t('signIn') }}
      div(v-else)
        v-btn(text :color="isGlobalAdmin?'red':isMapAdmin?'orange':'blue'") {{ name }}
          v-avatar(size="24px" class="ml-3")
            img(:src="avatar" alt="Avatar")

    v-content
      v-container
        v-breadcrumbs(
          class="capitalize"
          divider=">"
          :items="breadcrumbs"
        )
        v-divider
        nuxt

    v-footer(:fixed="false" app)
      span GlobalAPI &copy; {{ currentYear }}
      v-spacer
      span
        | Powered by&nbsp;
        a(href="https://nuxtjs.org/") Nuxt.JS
        | &nbsp;and&nbsp;
        a(href="https://vuetifyjs.com/") Vuetify
</template>

<script lang="ts">
import {
  Vue, Component, Watch, namespace
} from 'nuxt-property-decorator';
import { PORTAL_HOST } from '~/app.config';

const User = namespace('user');

@Component
export default class DefaultLayout extends Vue {
  get LOGIN_URL () {
    return `${PORTAL_HOST}/api/v2.0/auth/steam/login?returnUrl=${encodeURIComponent(window.location.href)}`;
  }

  get LOGOUT_URL () {
    return `${PORTAL_HOST}/api/v2.0/auth/logout?returnUrl=${encodeURIComponent(window.location.href)}`;
  }

  get currentYear () {
    return new Date().getUTCFullYear();
  }

  @User.Getter('isLoggedIn')
  loggedIn!: boolean;

  @User.Getter('isGlobalAdmin')
  isGlobalAdmin!: boolean;

  @User.Getter('isMapAdmin')
  isMapAdmin!: boolean;

  @User.Getter('getId')
  steamId64!: string;

  @User.Getter('getAvatar')
  avatar!: string;

  @User.Getter('getName')
  name!: string;

  @User.Getter('getProfile')
  profileUrl!: string;

  drawer: boolean = true;
  title: string = 'GlobalAPI';
  profileMenu: boolean = false;
  darkTheme: boolean = true;
  breadcrumbs: any[] = [];

  get getLocales () {
    return this.$i18n.locales!.map((l: any) => l.code);
  }

  get currentLocale () {
    const { name } = this.$i18n.locales!.find(l => (l as any).code === this.$i18n.locale) as any;
    return this.$i18n.locale;
  }

  changeLocale (locale: string) {
    if (locale === this.$i18n.locale) { return; }
    this.$router.push({ path: this.switchLocalePath(locale) });
  }

  get items () {
    return [
      {
        icon: 'mdi-home',
        title: this.$t('home'),
        to: '/dashboard'
      },
      {
        icon: 'mdi-map',
        title: this.$t('maps'),
        to: '/dashboard/maps'
      },
      {
        icon: 'mdi-tune',
        title: this.$t('modes'),
        to: '/dashboard/modes'
      },
      {
        icon: 'mdi-hammer',
        title: this.$t('bans'),
        to: '/dashboard/bans'
      },
      {
        icon: 'mdi-server',
        title: this.$t('servers'),
        expand: true,
        items: [
          {
            title: this.$t('myServers'),
            to: '/dashboard/servers/owned',
            protected: true
          },
          {
            title: this.$t('serverList'),
            to: '/dashboard/servers'
          }
        ]
      },
      {
        icon: 'mdi-timer',
        title: this.$t('records'),
        to: '/dashboard/records'
      },
      {
        icon: 'mdi-chart-timeline-variant',
        title: this.$t('jumpstats'),
        to: '/dashboard/jumpstats'
      },
      this.isGlobalAdmin && {
        icon: 'mdi-toolbox',
        title: 'Admin Tools',
        to: '/dashboard/tools',
        admin: true
      }
    ];
  }

  mounted () {
    const storeTheme = localStorage.getItem('darkTheme');
    if (storeTheme) {
      this.darkTheme = storeTheme === 'true';
    }
    this.toggleTheme();
  }

  created () {
    this.setBreadcrumbs();
  }

  @Watch('$route', { immediate: true, deep: true })
  onRouteChange (_newVal: any) {
    this.setBreadcrumbs();
  }

  setBreadcrumbs () {
    this.breadcrumbs = this.$nuxt.$route.path
      .split('/')
      .filter(v => v)
      .map((routeName, i, arr) => ({
        text: routeName,
        disabled: arr.length - 1 === i,
        exact: true,
        to: `/${arr.slice(0, i + 1).join('/')}`
      }));
  }

  toggleTheme () {
    if (this.$vuetify.theme) {
      this.$vuetify.theme.dark = this.darkTheme;
      localStorage.setItem('darkTheme', this.darkTheme.toString());
    }
  }
}
</script>

<style lang="scss" scoped>
.capitalize {
  text-transform: capitalize;
}
</style>
