<template lang="pug">
  v-container(fill-height)
    h1(class="title") ERROR
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({
  layout: 'error'
})
export default class ErrorPage extends Vue {

}
</script>
