<template lang="pug">
  v-container(fill-height)
    v-row(justify="center")
      v-progress-circular(
        :size="300"
        indeterminate
      )
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({
  layout: 'blank'
})
export default class IndexPage extends Vue {
  head () {
    return {
      title: this.$t('loading')
    };
  }

  mounted () {
    this.$router.push({
      path: '/dashboard'
    });
  }
}
</script>
