<template lang="pug">
  v-card(:loading="loading")
    v-card-title Delete Jumpstat
    v-card-text
      v-form(ref="jumpstatForm" v-if="jumpstat")
        v-container
          v-list(dense)
            v-list-item
              v-list-item-content ID
              v-list-item-content(class="align-end") {{ jumpstat.id }}
            v-list-item
              v-list-item-content SteamID64
              v-list-item-content(class="align-end") {{ jumpstat.steamid64 }}
            v-list-item
              v-list-item-content
                div Player Name
                  v-btn(text icon color="blue" target="_blank" :href="`http://steamcommunity.com/profiles/${jumpstat.steamid64}`")
                    v-icon mdi-open-in-new
              v-list-item-content(class="align-end") {{ jumpstat.player_name }}
            v-list-item
              v-list-item-content Jump Type {{ jumpstat.jump_type }}
              v-list-item-content(class="align-end") {{ getJumpName(jumpstat.jump_type) }}
            v-list-item
              v-list-item-content Distance
              v-list-item-content(class="align-end") {{ jumpstat.distance }}
            v-list-item
              v-list-item-content Strafe Count
              v-list-item-content(class="align-end") {{ jumpstat.strafe_count }}
            v-list-item
              v-list-item-content Crouch Bind
              v-list-item-content(class="align-end") {{ jumpstat.is_crouch_bind }}
            v-list-item
              v-list-item-content Forward Bind
              v-list-item-content(class="align-end") {{ jumpstat.is_forward_bind }}
            v-list-item
              v-list-item-content Crouch Boost
              v-list-item-content(class="align-end") {{ jumpstat.is_crouch_boost }}
            v-list-item
              v-list-item-content Tickrate
              v-list-item-content(class="align-end") {{ jumpstat.tickrate }}
            v-list-item
              v-list-item-content Server ID
              v-list-item-content(class="align-end") {{ jumpstat.server_id }}
            v-list-item
              v-list-item-content Created
              v-list-item-content(class="align-end") {{ jumpstat.created_on }}
    v-card-actions
      v-btn(color="grey" text @click="submit(false)" :disabled="loading") Cancel
      v-spacer
      v-btn(color="red" text @click="submit(true)" :disabled="loading") Delete
</template>

<script lang="ts">
import {
  Vue, Component, Ref, Prop
} from 'nuxt-property-decorator';
import Jumpstat from '@/models/Jumpstat';

@Component
export default class DeleteJumpstatForm extends Vue {
  @Ref()
  jumpstatForm!: any;

  @Prop(Boolean)
  loading!: boolean;

  @Prop()
  jumpstat!: Jumpstat;

  jumpTypes = [
    { text: 'Long Jump', value: 'lj' },
    { text: 'Bhop', value: 'bhop' },
    { text: 'MultiBhop', value: 'multibhop' },
    { text: 'Weird Jump', value: 'wj' },
    { text: 'Drop Bhop', value: 'dropbhop' },
    { text: 'Count Jump', value: 'cj' },
    { text: 'Ladder Jump', value: 'ladderjump' }
  ];

  submit(confirmation: boolean) {
    this.$emit('submit', confirmation);
  }

  getJumpName(type: number) {
    if (type >= 1 && type <= 7)
      return this.jumpTypes[type - 1].text;
    else
      return "N/A - " + type;
  }
}
</script>
